

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: #FCF7F7;
    list-style: none;
    font-family: "Roboto", sans-serif;;
}


button {
    background: #FA01FF;
    color: whitesmoke;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

button:hover {
    transform: scale(1.1);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000;
    background: linear-gradient(90deg, rgba(250,1,255,1) 24%, rgba(255,199,0,1) 100%);
}

header nav i, li {
    color: whitesmoke;
    
}

#nav1 i {
    padding: 5px;
    font-size: 25px;
    font-weight: 200;
    transition: 0.7s ;
    cursor: pointer;
}

#nav1 i:hover {
    transform: scale(1.3);
}

#nav2 {
display: flex;
align-items: center;

}

#nav2 i {
font-size: 25px;
margin: 5px 5px 5px 40px;
}

#nav2 input {
    background: #00000000;
    border:1px solid whitesmoke;
    height: 23px;
    width: 250px;
    border-radius: 20px;
}

#nav3 ul {
    display: flex;
}

#nav3 ul li {
    margin: 10px;
    list-style: none;
    transition: 0.7s;
    cursor: pointer;
}

 #nav3 input:focus {
    outline: none;
  }

#nav3 ul li:hover  {
    transform: scale(1.1);
    
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 200px;
    width: 200px;
    background: #FCF7F7;
    color: #FCF7F7;
    margin: 20px 0 20px 0;
    
}

.menu {
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    margin: 0 auto;
}

.menu a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
    font-weight: 600;
    transition: 0.7s;
    margin-bottom: 40px;
}

.menu a:hover {
    color: #FA01FF;
    transform: scale(1.2);
}

.section1 {
    background: #fb01ff1a ;
    min-height: 500px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0px 4px 4px 0px #b0aeae;
}


.section1 .section1_container h1 {
    font-size: 3rem;
    color: #FFC700;
    text-shadow: 
    -1px -1px 0 #FA01FF,  
     1px -1px 0 #FA01FF,
    -1px  1px 0 #FA01FF,
    -1px 5px 0 #FA01FF;
    margin: 20px 0;
}

.section1 .section1_container p {
    margin: 20px 0;
}

.section1 .section1_container img {
    width:100%;
    height: 400px;
    margin: 10px 0 30px;
    
   

}
.section2 {
display: flex;
text-align: center;
justify-content: center;
}

.section2 .section2_container h2 {
    color: #FA01FF;
    font-size: 2rem;
    text-align: center;
    margin: 30px 0;
}

.section2 .section2_container .section2_un {
    display: flex;
    justify-content: center;
}

.section2 .section2_container .section2_menu {
    height: 279px;
    width: 279px;
    border: 1px solid #D9D9D9;
    margin: 20px;
    border-radius: 86px;
    /* box-shadow: rgb(176, 174, 174) -1px 5px 5px; */
    transition: 0.7s;
    cursor: pointer;
}

.section2_menu:hover {
    box-shadow: rgb(176, 174, 174) -1px 5px 5px;
    transform: scale(1.1);
}

#menu_fanta {
    background: url(./img/fanta-peach-soda-peche.jpg) center/cover;
}

#menu_bonbon {
    background: url(./img/plateau-de-bonbons-rose-et-bleu-candy-board.jpg)center/cover;
}

#menu_puff {
    background: url(./puffchicha.jpg)center/cover;
}

#menu_mystere {
    background: url(./BOXMYSTERE.png)center/cover;
}

#btn_section2 {
    text-align: center;
    align-items: center;
    width: 20%;
    margin: 20px auto;
}

.section3_container{
    width: 80%;
    margin: 0 auto;
}
.section3_container img {
    height: 100px;
    width: 100px;
}

.section3_container h3 {
    color: #FA01FF;
    text-align: center;
    margin: 40px auto;
    font-size: 2rem;
}

.section3_un, .section3_deux {
    display: flex;
}

.box-nourriture {
    background: white;
    border: 1px solid #D9D9D9;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 250px;
    height:350px;
    margin: 10px auto;
    border-radius: 78px;
    transition: 0.7s;
    cursor: pointer;

   
    
}

.box-nourriture:hover {
    box-shadow: rgb(176, 174, 174) -1px 5px 5px;
    transform: scale(1.04);
}
.box-nourriture p {

    align-items: center;
    text-align: center;
    margin: 10px 5px;
    font-size: 0.7rem;
}

.box-nourriture .star {
    display: flex;
    color: yellow;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.box-nourriture i {
    margin: 5px;
}

/* .box-nourriture button:hover {
background: #0C8AD1;
transform: scale(1);
} */

.box-nourriture button:active {
    background: #0C8AD1;
}