@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fcf7f7;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

button {
  background: #fa01ff;
  color: whitesmoke;
  font-weight: 700;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}

button:hover {
  transform: scale(1.1);
}

header {
    position: relative;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000;
  background: linear-gradient(
    90deg,
    rgba(250, 1, 255, 1) 24%,
    rgba(255, 199, 0, 1) 100%
  );
}

header nav i,
li {
  color: whitesmoke;
}

#nav1 {
  display: flex;
}

#nav1 i {
  padding: 5px;
  font-size: 25px;
  font-weight: 200;
  transition: 0.7s;
  cursor: pointer;
  margin: 0 20px;
}

#nav1 i:hover {
  transform: scale(1.3);
}

#nav2 {
  display: flex;
  align-items: center;
}

#nav2 i {
  font-size: 25px;
  margin: 5px 5px 5px 40px;
}

#nav2 input {
  background: #00000000;
  border: 1px solid whitesmoke;
  height: 23px;
  width: 250px;
  border-radius: 20px;
}

#nav3 ul {
  display: flex;
  text-align: center;
}

#nav3 ul li {
  list-style: none;
  transition: 0.7s;
  cursor: pointer;
  margin: 0px;
}

#nav2 input:focus {
  outline: none;
}

#nav3 i {
  margin: 10px;
  font-size: 1.3rem;
}

#nav3 ul li:hover {
  transform: scale(1.2);
}


nav a {
    text-decoration: none;
}

#sendo {
    opacity: 0;
    position: absolute;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 200px;
  width: 200px;
  background: #fcf7f7;
  color: #fcf7f7;
  margin: 20px 0 20px 0;
}

.menu {
  display: flex;
  justify-content: space-around;
  max-width: 60%;
  margin: 0 auto;
}

.menu a {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
  font-weight: 600;

  margin-bottom: 40px;
}

.menu a:hover {
  color: #fa01ff;
}

.section1 {
  background: #fb01ff1a;
  min-height: 500px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0px 4px 4px 0px #b0aeae;
}

.section1 .section1_container h1 {
  font-size: 3rem;
  color: #ffc700;
  text-shadow: -1px -1px 0 #fa01ff, 1px -1px 0 #fa01ff, -1px 1px 0 #fa01ff,
    -1px 5px 0 #fa01ff;
  margin: 20px 0;
}

.section1 .section1_container p {
  margin: 20px 0;
}

.section1 .section1_container img {
  width: 100%;
  height: 400px;
  margin: 10px 0 30px;
}
.section2 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.section2 .section2_container h2 {
  color: #fa01ff;
  font-size: 2rem;
  text-align: center;
  margin: 30px 0;
}

.section2 .section2_container .section2_un {
  display: flex;
  justify-content: center;
}

.section2 .section2_container .section2_menu {
  height: 279px;
  width: 279px;
  border: 1px solid #d9d9d9;
  margin: 30px;
  border-radius: 86px;
  /* box-shadow: rgb(176, 174, 174) -1px 5px 5px; */
  transition: 0.7s;
  cursor: pointer;
}

.section2_menu:hover {
  box-shadow: rgb(176, 174, 174) -1px 5px 5px;
  transform: scale(1.1);
}

#menu_fanta {
  background: url(./img/fanta-peach-soda-peche.jpg) center/cover;
}

#menu_bonbon {
  background: url(./img/plateau-de-bonbons-rose-et-bleu-candy-board.jpg)
    center/cover;
}

#menu_puff {
  background: url(./puffchicha.jpg) center/cover;
}

#menu_mystere {
  background: url(./BOXMYSTERE.png) center/cover;
}

#btn_section2 {
  text-align: center;
  align-items: center;
  width: 20%;
  margin: 20px auto;
}

#btn_section2:hover {
  background: #0c8ad1;
}

#btn_section2:active {
  background: #073972;
}

.section3 {
  margin-bottom: 50px;
}

.section3_container {
  width: 80%;
  margin: 0 auto;
}
.section3_container img {
  height: 100px;
  width: 100px;
}

.section3_container h3 {
  color: #fa01ff;
  text-align: center;
  margin: 40px auto;
  font-size: 2rem;
}

.section3_un,
.section3_deux {
  display: flex;
}

.box-nourriture {
  background: white;
  border: 1px solid #d9d9d9;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 250px;
  height: 350px;
  margin: 10px auto;
  border-radius: 78px;
  transition: 0.7s;
  cursor: pointer;
}

.box-nourriture:hover {
  box-shadow: rgb(176, 174, 174) -1px 5px 5px;
  transform: scale(1.04);
}
.box-nourriture p {
  align-items: center;
  text-align: center;
  margin: 10px 5px;
  font-size: 0.7rem;
}

.box-nourriture .star {
  display: flex;
  color: yellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.box-nourriture i {
  margin: 5px;
}

.box-nourriture button:hover {
  background: #0c8ad1;
  transform: scale(1);
}

.box-nourriture button:active {
  background: #073972;
}

.section4 {
  background: #d9d9d9;
  min-height: 350px;
}
.section4_container {
  /* padding: 30px; */
}

#h2_section4 {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
  margin-bottom: 30px;
  padding: 20px;
}

#h2_section4::after {
  content: "SweetCandy";
  color: #fa01ff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.section4_container p {
  max-width: 40%;
  margin: 40px auto;
  text-align: center;
  padding: 0 20px 20px 20px;
  font-size: 1.2rem;
}

.section4_container p::selection {
  background: #fa01ff;
  color: white;
}

.footer_container_un {
  background: #333333;
}

.footer_un {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer_un img {
  margin: 10px;
}

.footer_un::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  background: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 20%;
}

.footer_deux {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer_deux img {
  margin: 30px;
}

.footer_deux::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  background: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 20%;
}

.footer_trois {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.footer_trois_container {
  display: flex;
  align-items: center;
  padding: 30px;
  color: whitesmoke;
}

.footer_trois_container p,
i,
input,
button {
  margin: 0 30px;
}

.footer_trois_container p,
.footer_trois_container i {
  font-size: 1.8rem;
  margin: 10px;
}

.footer_trois_container i:hover {
  cursor: pointer;
  color: #fa01ff;
}

.footer_trois_container input {
  height: 30px;
  border-radius: 10px;
  margin: 10px;
}

.footer_trois_container input::placeholder {
  color: #333333;
  text-align: center;
}

.footer_trois_container button {
  height: 30px;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.footer_trois_container button:hover {
  background: #0c8ad1;
  transform: scale(1);
}

.footer_trois_container button:active {
  background: #073972;
}

.footer_quatre_container {
  display: flex;
  justify-content: space-evenly;
}

.footer_quatre_container h4,
h5 {
  color: #fa01ff;
}

.footer_quatre_container h4,
h5,
p,
li {
  margin: 10px 0;
  list-style: none;
}

.footer_quatre_container p {
  color: whitesmoke;
}

.footer_quatre_container li:hover {
  color: #fa01ff;
  cursor: pointer;
}

.footer_container_deux {
  background: #d9d9d9;
  min-height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#france {
  height: 60px;
  height: 60px;
  margin: 0 20px;
}

#senegal {
  height: 50px;
  width: 50px;
  margin: 0 20px;
}

#palestine {
  height: 42px;
  width: 42px;
  margin: 0 20px;
}

/* ***************RESPONSIVE */

@media (max-width: 1024px) {
  #nav1 i {
    font-size: 20px;

    margin: 10px;
  }

  #nav3 li {
    font-size: 12px;
  }

  .section2_un {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section4 p {
    max-width: 60%;
  }
}

@media (max-width: 820px) {
  .pp {
    display: none;
  }

  #nav3 i {
    font-size: 1.2rem;
  }

  .section3_un,
  .section3_deux {
    flex-wrap: wrap;
  }

  .footer_trois_container button {
    font-size: 0.8rem;
    width: 130px;
  }
  
  .footer_quatre_container p {
    font-size: 0.6rem;
  }
}

@media (max-width: 450px) {




#sendo {
    opacity: 1;
    font-size: 2rem;
    left: 0;
    top: 50%;
    color: #ffc700;
}

    #nav1 i{
margin: 5px;
font-size: 14px;
 }

 #nav2 {
    
 }

 #nav2 i {
    font-size: 14px;
    margin: 0;
 }

 #nav2 input {
    width: 70px;
    margin: 5px;
 }
  .footer_un {
    display: block;
    text-align: center;
  }
  .footer_deux {
    display: block;
    text-align: center;  
  }


  .menu {
    display: none;
  }

  .footer_deux img {
  margin: 30px;
  }

  .footer_trois_container  {
    display: block;
    text-align: center;

  
  }
  .footer_quatre_container div {
   margin-bottom: 20px;
  }

  .footer_quatre_container {
    display: block;
    text-align: center;
  }
}